<div class="p-4 sm:ml-64 flex flex-col h-[100vh]">
  <div
    class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
  >
    <div class="flex items-center justify-between">
      <h1 class="font-semibold text-xl">Your Clients</h1>
      <a
        routerLink="/client/add-client"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        <button
          type="button"
          class="px-5 py-2.5 text-sm font-medium text-white inline-flex items-center bg-[#16579D] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          <svg
            class="w-5 h-5 text-white me-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="2 4 20 16"
          >
            <path
              fill-rule="evenodd"
              d="M9 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1c0 1.1.9 2 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H7Zm8-1c0-.6.4-1 1-1h1v-1a1 1 0 1 1 2 0v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 0 1-1-1Z"
              clip-rule="evenodd"
            />
          </svg>
          Add Client
        </button>
      </a>
    </div>
  </div>
  <div
    class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-4 flex-1"
  >
    <div class="flex flex-col justify-center h-full" *ngIf="isLoading">
      <ng-container class="flex justify-center flex-col items-center h-[100%]">
        <ng-lottie [options]="options" width="150px" height="auto" class="flex justify-center"></ng-lottie>
        <p class="flex justify-center font-medium">Wait while we fetch your Data.</p>
      </ng-container>
    </div>
    <ng-container *ngIf="!isLoading">
      <ag-grid-angular
        class="ag-theme-quartz"
        style="height: 100%"
        [rowSelection]="'multiple'"
        [rowData]="rowData"
        [columnDefs]="colDefs"
      >
      </ag-grid-angular>
    </ng-container>
  </div>
</div>
