<div
  class="w-screen h-screen fixed top-0 left-0 z-50 bg-gray-100 opacity-50"
></div>
<div>
  <div
    class="fixed left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 z-50 w-2/3 sm:w-auto"
  >
    <div
      class="flex flex-col gap-4 border border-gray-300 shadow py-5 px-7 rounded-md bg-gray-100"
    >
      <h1 class="text-lg font-semibold">Are you sure?</h1>
      <div class="text-right">
        <button
          (click)="onDelete()"
          type="button"
          class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-[12px] px-3 py-1.5 sm:text-sm sm:px-5 sm:py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900 mr-2"
        >
          Delete
        </button>
        <button
          (click)="onCancel()"
          type="button"
          class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-[12px] px-3 py-1.5 sm:text-sm sm:px-5 sm:py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
