<div class="p-4 sm:ml-64">
  <div
    class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
  >
    <span class="font-bold text-2xl border-b-2 border-b-black block w-fit"
      >Welcome Fluxbyte!</span
    >
    <span
      class="font-semibold text-lg mt-7 block border-b w-fit border-gray-300 border-dashed"
      >Your Details</span
    >
    <div
      *ngFor="let business of businessDetails"
      class="mt-2 p-6 border-2 flex flex-col items-center w-fit border-gray-200 rounded-lg shadow"
    >
      <img
        class="w-24 h-24 border border-black rounded-full"
        src="{{ business['logo'] }}"
        alt="user photo"
      />
      <h1 class="mt-5 font-semibold text-lg">{{ business["name"] }}</h1>
      <p class="text-[11px]">
        {{ business["email"] }} | {{ business["phone"] }}
      </p>
    </div>
    <button (click)="onPdfDownload()">Download</button>
  </div>
</div>
